.closed {
  display: none;
}
.opened {
  display: flex;
}

.smoothShown {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform 300ms linear;
}

.smoothClosed {
  -webkit-transform: none;
  transform: none;
  transition: transform 300ms linear;
}
.mainMenu,
.themeMenu,
.musicMenu {
  flex-direction: column;
}
.DevMenu {
  button {
    border-radius: 90%;
    width: 35px;
    height: 35px;
    border: solid white 2px;
    background-color: gray;
    color: white;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
}
.fontAweIconSideMenu {
  margin-right: 10px;
}
