.App {
  background: var(--backgroundImage);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.App-header {
  align-items: center;
  background-color: var(--headercolor);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: solid gray 1px;
  padding: 0 150px;
  height: 60px;
  width: 100%;
}
main {
  background-color: var(--fileTextAreaContainer);
  display: flex;
  flex-direction: row;
  min-height: 100%;
  min-width: 800px;
  border-right: solid rgb(86, 86, 86) 1px;
  width: 45%;
  .wrapper-Main {
    padding: 5% 5%;
    width: 100%;

    textarea {
      width: 100%;
      height: 15%;
      min-height: 200px;
      padding: 10px;
    }
  }
}
.wrapper-main-Content {
  min-height: 100%;
  width: 100%;
}
.buttonOne {
  align-items: center;
  display: flex;

  button {
    background-color: transparent;
    border: none;
    color: white;
  }
}
.themeMenu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  display: none;

  button {
    width: 100%;
    height: 60px;
    color: white;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    align-items: center;
  }
  button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    outline: solid black 1px;
  }
}
.fileInputPara {
  text-align: center;
}
.downloadButton {
  align-items: center;
  background-color: goldenrod;
  color: white;
  display: none;
  height: 60px;
  justify-content: center;
  padding: 0 15%;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.downloadButton:hover {
  background-color: lightgray;
  color: black;
}

.downloadButton:hover a {
  color: black;
}
.Show {
  display: flex;
}
input,
label {
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  font-size: 1.2em;
  color: #1c1a27;
  width: 100%;
  border: none;
  border-bottom: 1px grey solid;
  text-align: center;
}

input:hover {
  background-color: lightgray;
}
.fontAweIconUpload {
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.white {
  color: white;
}
.sideMenu {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 25vw;
  max-width: 300px;
  min-width: 250px;
  align-items: center;
  height: 100%;
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 999;
  background-color: var(--sideMenucolor);
  border-left: solid grey 1px;
  outline: solid grey 1px;

  ul {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  button {
    width: 100%;
    height: 60px;
    color: white;
    background-color: var(--sideMenucolor);
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    align-items: center;
  }
  button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: solid black 3px;
  }
}
